<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.petapi.mapper.PetMapper">
	<select id="showAll" resultType="com.example.petapi.entity.Pet">
		SELECT
		p.id AS id,
		c.id AS "category.id",
		c.name AS "category.name",
		p.name AS name,
		p.photoUrls AS photoUrls,
		t.id AS "tags.id",
		t.name AS "tags.name",
		p.status AS status
		FROM
		pets p
		LEFT JOIN
		category c ON p.category_id = c.id
		LEFT JOIN
		tags t ON p.tag_id = t.id;
	</select>
</mapper>